<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="{{ url_for('public.static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('public.static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('public.static', filename='css/estilo_campos_predeterminados.css')}}">


    <style>
        table,th,td{
            border: 1px solid #000;
            border-collapse: collapse;
            vertical-align:top;
            text-align:center;
        }
        th,td{
            text-align: center;
        }
    </style>


</head>
<body>
    {% include 'public/nav_bar.html' %}
    <div class="container form-orden-campos">
        {% if error %}
            <p style="color: red;"><strong>Error:</strong> {{ error }}
        {% endif %}
        <form class="container rounded estilo-casillas mb-3"action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <div>
                {{ form.email.label(class="form-label letras_en_login") }}
                {{ form.email(class_="form-control letras_en_login") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col pb-2">
                {{ form.submit(class="btn btn-secondary") }}
                {{ form.delete(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
    <div class="container-fluid form-orden-campos">
        {% if creado %}
            <p style="color: yellow;"><strong>Correcto:</strong> {{ creado }}
        {% endif %}
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <div>
                {% for error in form.email.errors %}
                <span style="color: yellow;">{{ creado }}</span>
                {% endfor %}
            </div>
        </form>
    </div>
    <center>
        <div class = "col-md-7">
                <table class="table estilo-casillas">
                    <tr>
                        <th>Correo</th>
                        <th>Estado</th>
                    </tr>
                    <tr>
                        <td> 
                            {% for lista_correos in db_data%}
                            <h3> {{lista_correos[0]}}</h3>
                            {%endfor%}
                        </td>
                        <td>
                            {% for lista_correos in db_data%}
                                {%if lista_correos[1] %}
                                    <h3>Suscrito</h3>
                                {%else%}
                                    <h3>No suscrito</h3>
                                {%endif%}
                            {%endfor%}
                        </td>
                    </tr>
                </table>
            </div>
    </center>
    
    
    
    
    <!-- JS -->
    <script src="{{ url_for('public.static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('public.static', filename='js/bootstrap.min.js') }}"></script>
</body>
</head>
</html>