<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Title</title>
    <link rel="stylesheet" href="{{ url_for('public.static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('public.static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('public.static', filename='css/estilo_campos_predeterminados.css')}}">


    <style>
        /* aqui puede ir codigo css */
    </style>


</head>
<body>
    {% include 'public/nav_bar.html' %}
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container-fluid form-orden-campos">
        {% if error %}
            <p style="color: red;"><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <div>
                {{ form.email.label(class="form-label letras_en_login") }}
                {{ form.email(class_="form-control letras_en_login") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="container-fluid form-orden-campos">
        {% if creado %}
            <p style="color: yellow;"><strong>Creado:</strong> {{ creado }}
        {% endif %}
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <div>
                {% for error in form.email.errors %}
                <span style="color: yellow;">{{ creado }}</span>
                {% endfor %}
            </div>
        </form>
    </div>
    <div class="container-fluid form-orden-campos">
        {% if error %}
            <p style="color: red;"><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <div>
                {{ form.email.label(class="form-label letras_en_login") }}
                {{ form.email(class_="form-control letras_en_login") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="container-fluid form-orden-campos">
        {% if creado %}
            <p style="color: yellow;"><strong>Creado:</strong> {{ creado }}
        {% endif %}
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            <div>
                {% for error in form.email.errors %}
                <span style="color: yellow;">{{ creado }}</span>
                {% endfor %}
            </div>
        </form>
    </div>
    <!-- JS -->
    <script src="{{ url_for('public.static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('public.static', filename='js/bootstrap.min.js') }}"></script>
</body>
</head>
</html>