<!DOCTYPE html>
<html lang="es">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%include 'public/links_bootstrap_css.html' %}
  <link rel="stylesheet" href="{{ url_for('public.static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('public.static', filename='css/desplegador_de_encuesta.css')}}">

</head>

<body>

  {% include 'public/nav_bar.html' %}

  <center>
    <div align="center" class="card bg-success text-white w-75 p-3">
      <h3 align="right">Fecha Comienzo: {{db_data[3]}}</h3>
      <h3 align="right">Fecha Final: {{db_data[4]}}</h3>
      <h1 id="{{db_data[0]}}_encuesta">{{db_data[1]}}</h1>
      <h2>{{db_data[2]}}</h2>
      <button id="{{db_data[0]}}" onclick="DesplegarRespuestas(this)" class="boton-ver-encuesta btn btn-info">Ver respuestas</button>
      {% for pregunta_alternativa in db_data[5][0]%}
      {% set pregunta_loop = loop %}
        <h2>{{pregunta_alternativa['Pregunta']}}</h2>
        {% for alternativa in pregunta_alternativa['Alternativas'] %}
        {% set alternativa_loop = loop %}
          <h3 id="{{db_data[0]}}_{{pregunta_loop.index0}}_{{alternativa_loop.index0}}">{{alternativa}}</h3>
        {% endfor %}
      {% endfor %}

    </div>
  </center>
  {%include 'public/links_bootstrap_js.html' %}
  <script src="{{url_for('admin.static', filename='js/desplegar_encuestas.js')}}"></script>
</body>

</html>