<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta Respondida</title>

</head>
<body>
    <div class="divContent">
        <br><br><br><br><br><br><br><br>
        <h1> Encuesta Enviada Correctamente</h1>
        <h3> Puedes cerrar esta ventana </h3>
        
    </div>
    
</body>
</html>


<style>
    body{
        background-image: radial-gradient(#4055c3 2px, transparent 2px), radial-gradient(#4055c3 2px, transparent 2px);
        background-size: 32px 32px;
        background-position: 0 0, 16px 16px;
        background-color: #4dadf0;
    }

    .divContent{
        text-align: center;
    }

</style>