.form-orden-campos{
    margin-left: auto;
    margin-right: auto;
    width: 21.76%;

}

.letras_en_login{
    color:#000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
