<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css"> <!--el html busca el .css aqui-->
    <link rel="stylesheet" href="static/css/main.css"> <!--el html busca el .css aqui-->
    <title>Añadir correos</title>
</head>
<body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center text-primary">
                        Ingrese Correo
                    </h3>
                    <div class="centrado">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Correo electronico
                            </label>
                            <input type="email" class="form-control" id="exampleInputEmail1" />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                    </form>
                </div>
                </div>
            </div>
        </div>


        <!-- JS -->
        <script src="static/js/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="static/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>

</html>