<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>HTML</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
 button {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
div {
  display: none;
}
  </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <center>
  <br>
  {%for encuesta_i in range(encuestas.Encuestas|length)%}

    <div align="left" class="card bg-success text-white w-75 p-3">
    <button id = {{encuestas.Id[encuesta_i]}} onclick=DesplegarEncuestas(this)>
    Encuesta {{ encuesta_i+1 }} 
    <br>{{encuestas.Encuestas[encuesta_i]}}<br>
    </button>
    <div id = {{encuestas.Id[encuesta_i]}}_>

    {%for pregunta_i in range(encuestas.Preguntas[encuesta_i]|length)%}

      <h2>Pregunta {{pregunta_i + 1}}: {{encuestas.Preguntas[encuesta_i][pregunta_i]}} 
      {% if encuestas.Porcentajes[encuesta_i][pregunta_i][0]|length != 0 %}
      <br>No hay respuestas</br>
      {% endif %}
      </h2>

      {%for respuesta_i in range(encuestas.Alternativas[encuesta_i][pregunta_i]|length)%}

        <h2>{{respuesta_i + 1}}) {{encuestas.Alternativas[encuesta_i][pregunta_i][respuesta_i]}}
        {% if encuestas.Porcentajes[encuesta_i][pregunta_i][respuesta_i+1] != null  %}
        {{encuestas.Porcentajes[encuesta_i][pregunta_i][respuesta_i+1]}} %
        {% endif %}
        </h2>

      {%endfor%}
    

    {%endfor%}
    </div>
    </div>
    <br>
  {%endfor%}
  </center>
</body>
</html>


<script src="{{url_for('static', filename='js/desplegar_encuestas.js')}}"></script>
