{% extends 'encuestas_privadas.html' %}



<div class="main">
  {%for i in range(0, data.preguntas[data.encuesta_activa]|length)%}
    <h2>Pregunta {{ i+1 }}</h2>
    <h1>{{data.preguntas[data.encuesta_activa][i]}}</h1>
    <h2>Respuestas</h2>
    {%for j in range(0, data.respuestas[data.encuesta_activa][i]|length)%}
      <h3>{{data.respuestas[data.encuesta_activa][i][j]}}</h3>
    {%endfor%}
    <br>
  {%endfor%}
</div>        


<div class="footer">
  <h2>Footer</h2>
</div>